.header {
    background: #FFE3F7;
  }
  
  .header-container {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
  }
  
  .logo {
    width: 90px;
    height: 80px;
    border-radius: 50%;
  }
  
  .nav {
    display: flex;
    gap: 100px;
    flex-grow: 1;
    justify-content: center;
  }
  
  .nav-item {
    color: black;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }
  
  .profile-container {
    position: relative;
  }
  
  .profile-background {
    width: 76px;
    height: 76px;
    background: #D9D9D9;
    border-radius: 50%;
    position: absolute;
    top: 0; /* 위쪽으로 정렬 */
    left: 0; /* 왼쪽으로 정렬 */
  }
  
  .profile-image {
    width: 54.74px;
    height: 63.59px;
    position: absolute;
    top: 50%; /* 중앙 정렬 */
    left: 50%; /* 중앙 정렬 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    border-radius: 50%; /* 원형 */
  }