body {
    font-family: Arial, sans-serif;
  }
  
  .header {
    position: absolute;
    width: 1440px;
    height: 121px;
    left: 0px;
    top: -2px;

    background: #FFE2F9;
    background: color(display-p3 1.000 0.890 0.969);

  }
  
  .login{
    position: absolute;
    width: 671px;
    height: 1440px;
    left: calc(50% - 671px/2 - 384.5px);
    top: calc(50% - 1440px/2 + 1057px);

    background: #FEF7FF;
    background: color(display-p3 0.992 0.969 1.000);
    transform: rotate(-90deg);

  }
  
  .post {
    border: 1px solid #dee2e6;
    margin: 1rem 0;
    padding: 1rem;
  }
  